/* Mis estilos ;) */

/* HEADER */
.navbar,
.navbar-nav {
    background-color: #ffff;
    border: none;
}

.navbar-nav {
    float: right;   
}

/* NAV */
.bg-image-1 {
    background: url("../assets/images/taxi.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.bg-image-2 {
    background-image: url("../assets/images/conduce.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%; 
}

.right-yellow-box {
    background-color: #ffc107;
    border: 2px solid red;
    color: #ffff;  
    padding: 15px 30px;
   
}

.right-yellow-box button {
    color: #000000;
}

.yellow-box-container {
    padding-bottom: 25%;
    padding-top: 10%;
}

/* SECTION */
section {
    background-color: #ffc107;
}

@media screen and (max-width: 767px){
.cell-box {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
 }
}

@media (min-width: 768px) {
    .cell-box {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
}


