/* Mis estilos ;) */
body {
    font-family: 'Raleway', sans-serif;
}

/* HEADER */
.navbar,
.navbar-nav {
    background-color: #ffff;
    border: none;
}

.navbar-nav {
    float: right;   
}

/* NAV WITH bg-image-1 */
@media screen and (max-width: 767px){
    .bg-image-1 {
        background-image: url("../assets/images/taxi.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
    }
    .right-yellow-box {
        background-color: #ffc107;
        color: #ffff;
        padding: 5%;
    }
    .yellow-box-container {
        padding-bottom: 30%;
        padding-top: 50%;
    }
    .yellow-box-title {
        margin-bottom: 12%;
    }
    .yellow-box-image{
        margin-left: 3%;
        width: 20%;
    }
    h4 {
        font-size: 1.8em;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .bg-image-1 {
        background: url("../assets/images/taxi.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
    }
    .right-yellow-box {
        background-color: #ffc107;
        color: #ffff;  
        padding: 15px 30px;
    }
    .yellow-box-container {
        padding-bottom: 25%;
        padding-top: 10%;
    }
    .right-yellow-box h2, h3, p {
        font-weight: 700;
    }
    .yellow-box-image{
        margin-left: 3%;
        width: 20%;
    }
    .yellow-box-button {
        margin: 10px;
    }
}

.yellow-box-button {
    border-radius: 5px;
    font-weight: 700;
    padding: 5px 10px;
}

/* SECTION */
section {
    background-color: #ffc107;
}

/* SECTION WITH IPHONE6 IMG */
@media screen and (max-width: 767px){
    .cell-box {
        border: 1px solid white;
        margin: 10% 0.5%;
    }
    .upper-h {
        color: #fff;
        font-size: 1.5em;
        padding-top: 10%;
        margin-bottom: -5%;
        text-align: center;
    }
    .bottom-p {
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
    }
    .cell-box img {
        padding: 10%;
        width: 90%;
    }
}

@media (min-width: 768px) {
    .cell-box {
        color: #fff;
        width: 75%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
    .right-text-content {
        padding: 2%;
        margin-top: 2%;
        line-height: 1.8em;
    }
    .right-text-content p {
        font-size: 1.15em;
        font-weight: 600;
    }
    .cell-box img {
        padding: 10%;
    }
}

/* NAV WITH bg-image-2 */
@media screen and (max-width: 767px){
    .bg-image-2 {
        background-image: url("../assets/images/conduce.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 150% 100%; 
        
    }
    .rigth-opaque-box {
        background-color: rgba(54, 25, 25, .4);
        color: #ffff;
        padding-top: 10%;
    }
    .rigth-opaque-box h3 {
        font-size: 1em;
        font-weight: 700;
    }
    .rigth-opaque-box p {
        font-size: 0.8em;
        font-weight: 600;
    }
    .opaque-box-container {
        padding-bottom: 25%;
    }
}

@media (min-width: 768px) {
    .bg-image-2 {
       background-image: url("../assets/images/conduce.jpg");
       background-repeat: no-repeat;
       background-position: center center;
       background-size: 100%; 
    }
 .rigth-opaque-box {
    background-color: rgba(54, 25, 25, .4);
    color: #ffff;  
    padding: 60px 30px;
    }
    .opaque-box-container {
        padding-bottom: 25%;
    }
}

.opaque-box-button {
    background-color: #ffc107;
    border: none;
    color: #ffff;
    font-weight: 600;
}

/* SECTION WITH MAP */
.form-control {
    background-color: #ffc107;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    width: 75%;
}
.form-control::-moz-placeholder {
    color: #fff;
  }
  .form-control:-ms-input-placeholder {
    color: #fff;
  }
  .form-control::-webkit-input-placeholder {
    color: #fff;
  }
  .left-fare-box button {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    margin-top: 5%;
    margin-left: 25%;
  }

  @media screen and (max-width: 767px) {
  .left-fare-box {
      /* border: 2px solid red; */
      margin: 10% 0;
    }
    .left-fare-box h3 {
      color: #fff;
      font-size: 1em;
      font-weight: 600;
    }
    .left-fare-box p {
        color: #fff;
        font-size: 0.9em;
        font-weight: 600;
        margin-bottom: 10%;
    }
    .right-map-box {
        border: 1px solid #fff;
        padding: 2% 1%;
        margin-bottom: 10%;
    }
    #map {
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .right-map-box {
        border: 1px solid #fff;
        margin: 5%; 
    }
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        margin: 3% auto;
        /* margin: 10%; */
    }
    .left-fare-box {
        padding-top: 7%;
    }
    .left-fare-box h3 {
        color: #fff;
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 5%;
    }
    .left-fare-box p {
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 10%;
    }
    .left-fare-box button {
        margin-top: 10%;
    }
    .form-group {
        margin: 7% auto;
    }
}
  /* FOOTER */
footer {
    background-color: #2b2b2b;
    color: #fff;
}
.social {
    margin-top: 20%;
}

.fa {
    color: #fff;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.fa:hover {
    color: #d8d6ce; 
    font-weight: 900;
    text-decoration: none;
    font-size: 1.5em;
}

a.list-group-item {
    color: #d8d6ce; 
    font-weight: 600;
}

a.list-group-item:hover {
    color: #2b2b2b;
    font-weight: 800;
}

.list-group-item {
    background-color: transparent;
    border: none;
    /* color: #fff; */
    width: 40%
}

@media screen and (max-width: 767px) {
    .footer-logo {
        padding-top: 5%;
    }
    .stores {
        width: 85%;
        margin: 5%;
    }
    .social {
        margin-top: 1%;
        margin-bottom: 20%;
    }
}

@media (min-width: 768px) {
    .hr {
        color: #d8d6ce; 
        width: 85%;
    }
}